footer  {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	width: 100%;
	font-size: .75rem;
}

footer ul {
	list-style: none;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

footer a {
	text-decoration: none;
	color: #3b5998;
}

.footer-wrapper {
	width: 960px;
	margin: 0 auto;
}

.languages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.languages li{
	margin-right: 11px;
}

.languages button {
	height: 25px;
	-ms-flex-item-align: center;
			align-self: center;
}

.site-map {
	width: 860px;
}

.site-map ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	-ms-flex-wrap: wrap;	
	    flex-wrap: wrap;
}

.site-map li {
	-ms-flex-preferred-size: 9%;
			flex-basis: 9%;
}

.active, 
.copyright {
	color: #737373;
}
